html{
    font-size: 16px;
}

body {
    font-family: 'Oxygen', Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.container {
	max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

h1,
h2,
h3 {
    font-family: 'Mukta', sans-serif;
	text-transform: capitalize;
	font-weight: 700;    
}

h1 {
    color: #2B4F78;
	font-size: 2em;
}

h2 {
    color: #2B4F78;
	font-size: 1.875em;
}

h3 {
	font-size: 1.5em;
    text-align: center;
    color: #2B4F78;
}

p {
	font-size: 1.125em;
	line-height: 1.5;
    color:#132437;
}

span{
    font-family: 'Architects Daughter', sans-serif;
}

ul {
    margin: 0;
}

header {
	border-bottom: 1px solid #96b5d9;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

header h1 {
	margin: 0;
    padding: 38px 20px 20px 20px; 
    border-bottom: 1px solid #96b5d9; 
    width: 100%;
}

header nav {
    padding: 20px 0; 
    width: 100%; 
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
    padding: 10px 0;
    list-style: none;
}

header nav ul li a {
	text-decoration: none;
	color:#2B4F78;
}

.top-section,
.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.main-image {
    padding-top: 2em;
    display: flex;
    align-content: center;
    justify-content: center;
}

.main-image img {
	width: 40%;
    border-radius: 1em;
}

.main-title h2 {
	text-align: center;
	padding: 5px 0;
    color: #2B4F78;
    font-family: 'Farro', sans-serif;
}

.main-title p {
	padding: 0;
	font-size: 1.5em;
	line-height: 1.5625;
}

.section-one,
.section-two,
.section-three {
    border-top: 1px solid #96B5D9;
    width: 100%;
}

.project-description {
	margin: 10px 0;
    text-align: center;
}

.project-image {
    width: 100%;
    border: solid 1px #ececec; 
}

footer {
	border-top: 1px solid #96B5D9;
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 30px;
}

footer .contact-title{
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

footer .contact-items{
    text-align: center;
    width: 100%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.far, 
.fab {
    color: #4b81be;
    font-size: 1.75em;
}

@media only screen and (min-width: 768px) {
   
    .top-section{
        margin: 75px 0;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .main-image {
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        flex-basis: 40%;
        padding-top: 50px;
    }

    .main-image img {
        width: 60%;
    }

    .main-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        flex-basis: 60%;
    }

    .bottom-section{
        justify-content: space-between;
        align-items: flex-start;
        border-top: 1px solid #96B5D947;
    }

    .section-one,
    .section-two,
    .section-three {
        border-top: none;
        flex-basis: 30%;
    }

    .section-two {
        border-left: 1px solid #96B5D947;
        border-right: 1px solid #96B5D947;
        padding: 0 20px;
    }

    footer {
        border-top: 1px solid #96B5D947;
    }

    .contact-title {
        padding-top: 75px;
    }

    .far, 
    .fab {
        font-size: 1.75em;
    }

}

@media only screen and (min-width: 1200px) {
    header {
        justify-content: space-between;
    }

    header h1 {
        width: 30%;
        padding: 0;
        border-bottom: none;
        text-align: left;
    }

    header nav {
        width: 40%;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    .main-image {
        padding-top: 1em;
    }

    .main-image img {
        width: 50%;
    }

    .far, 
    .fab {
        font-size: 2.25em;
    }

}
